
#first{
	width: 30%;
	margin: 20px;
	padding: 20px;
	float: left;
}

#name{
	text-align: center;
	margin-left: 50px;
}
.name2 img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0 10px;
	margin-left: 30px;
}
.name3{
	width: 110%;
}
.name4{
	width: 110%;
}
hr{
	margin-left: 90px;
	border-top: 1px solid #fff;
  	width: 100%;
  	margin-top: .8rem;
  	margin-bottom: 1rem;
}
.first1 hr{
	border-top: 2px solid #fff;
  	width: 100%;
  	margin-top: .3rem;
  	margin-bottom: 1rem;
}
.first2 hr{
	border-top: 2px solid #fff;
  	width: 100%;
  	margin-top: .3rem;
  	margin-bottom: 1rem;
}
.first3 hr{
	border-top: 2px solid #fff;
  	width: 100%;
  	margin-top: .3rem;
  	margin-bottom: 1rem;
}
.first4 hr{
	border-top: 2px solid #fff;
  	width: 100%;
  	margin-top: .3rem;
  	margin-bottom: 1rem;
}
.first5 hr{
	border-top: 2px solid #fff;
  	width: 100%;
  	margin-top: .3rem;
  	margin-bottom: 1rem;
}
.first6 hr{
	border-top: 2px solid #fff;
  	width: 100%;
  	margin-top: .3rem;
  	margin-bottom: 1rem;
}


#phone{
	display: flex;
	flex-direction: row;
	font-size: 2rem;
	margin-bottom: 30px;
}
.phone3{
	margin: 20px;
	margin-left: 50px;
}
.phone2{
	height: 56px;
	margin: 20px;
}

#mail{
	display: flex;
	flex-direction: row;
	font-size: 2rem;
	margin-bottom: 30px;
}
.mail3{
	margin: 20px;
	margin-left: 50px;
}
.mail2{
	height: 56px;
	margin: 20px;
}

#adress{
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	font-size: 2rem;
	margin-bottom: 30px;
}
.adress3{
	margin: 20px;
	margin-left: 50px;
}
.adress2{
	height: 56px;
	margin: 20px;
}

#skills{
	display: flex;
	flex-direction: row;
	font-size: 2rem;
	margin-bottom: 30px;
}
.skills3{
	margin: 20px;
	margin-left: 20px;
}
.skills2{
	height: 56px;
	margin: 20px;
}

#tech{
	display: flex;
	flex-direction: row;
	font-size: 2rem;
}
.tech3{
	margin: 20px;
	margin-left: 20px;
}
.tech2{
	height: 56px;
	margin: 20px;
}

body{
	background-image: linear-gradient(to right, #7A8787,#7A8787);
}
#second{
	margin: 15px;
	padding: 1rem;
	padding-top: 40px;
	width: 50rem;
	margin-left: 30rem;
}
.second1{
	margin-bottom: 170px;
}
.second2{
	margin-bottom: 170px;
}
.second3{
	margin-bottom: 170px;
}
.second4{
	margin-bottom: 140px;
}

#about{
	display: flex;
	flex-direction: row;
}
.about2{
	margin: 20px;
	margin-left: 20px;
}
.about1{
	height: 56px;
	margin: 20px;
	font-size: 2rem;
}
#work{
	display: flex;
	flex-direction: row;
}
.work2{
	margin: 20px;
	margin-left: 20px;
}
.work1{
	height: 56px;
	margin: 20px;
	font-size: 2rem;
}
#achievements{
	display: flex;
	flex-direction: row;
}
.achievements2{
	margin: 20px;
	margin-left: 20px;
}
.achievements1{
	height: 56px;
	margin: 20px;
	font-size: 2rem;
}
#hobbies{
	display: flex;
	flex-direction: row;
}
.hobbies2{
	margin: 20px;
	margin-left: 20px;
}
.hobbies1{
	height: 56px;
	margin: 20px;
	font-size: 2rem;
}

.game{
	margin-right: 20px;
	font-size: 2rem;
	color: #016EC1; 
}
.play{
	margin-right: 20px;
	font-size: 2rem;
	color: #016EC1;  
}
.mobile{
	margin-right: 20px;
	font-size: 2rem;
	color: #016EC1;  
}
.card1{
	background-image: linear-gradient(to right, #016EC1,#016EC1);
}


.jquery{
	margin: 1px;
}
.angular{
	margin: 1px;
}
.bootstrap{
	margin: 1px;
}
.code{
	margin: 1px;
}
.photo{
	margin: 1px;
}
.invi{
	margin: 1px;
}
.creativ{
	margin: 1px;
}
.leader{
	margin: 1px;
}
.commu{
	margin: 1px;
}
.word{
	margin: 1px;
}
