
.mapage{
	background: rgb(240, 242, 245);
	display: flex;
	justify-content: center;
}
.container{
	margin: 5rem 2rem;
}
.container .connect{
	margin: 2rem auto;
}
h1{
	color: #586FE1;
}
.connect .card{
	border-radius: 10px;
	padding: 1rem 1rem;
	width: 400px;
}
form .mail, form .sesame{
	border: 1px solid rgb(214, 214, 214);
	width: 99%;
	height: 57px;
	margin: 5px auto;
	border-radius: 4px;
	padding: 1rem 1.5rem;
}
.connecting{
	height: 52px;
	margin: 12px auto;
	font: normal 500 25px/20px 'Trebochet';
}
form input:focus{
	border-color: #0e6ef1;
filter: brightness(1.05) drop-shadow(0px 0px 2px);
}
a .mdp{
	margin-top: 4px;
	margin-bottom: 1rem;
	color: blue;
}
.connect .card{
border-radius: 10px;
padding: 1rem 1rem;
width: 400px;
}
.aftercard{
	margin-top: 1rem;
	padding: .5rem 2rem;
	width: 400px;
}
.title{
	padding: 6rem 6rem 12rem 5rem;
	width: 95%;
	height: 100%;
}

.title h1{
	font-weight: 650;
}
.title p{
   font: normal 100 26px/30px 'Georgla';
}
.nav-account{
	width: 50%;
	height: 55px;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font: 100 20px/12px 'Arial'

}

footer .container{
	margin: 0 auto auto 1rem;
	padding: 5px 1rem;
}

footer nav .nav-link + .nav-link{
	padding-left: .7rem;
}
nav .btn{
	text-align: center;
	padding: 2px;
	width: 30px;
	background: rgb(240, 242, 245);
}
footer .copyright{
	margin: 3px 0;
	color: gray;
	font-size: 10px;
}



@media all and(max-width: 1024px)
{
	.mapage{
		text-align: center;
	}
	.mapage .title{
		margin: auto;
		padding: 1rem 2rem;
	}
	.mapage .connect{
		width: 50%;
		min-width: 400px;
		margin: 1rem auto;
		padding: auto;
	}
	.aftercard{
		margin-top: 1rem;
		padding: .5rem 2rem;
		width: 50%;
		min-width: 400px;
	}
	.title p{
		display: none;
	}
}